<div class="invite-wrapper">
  <h1 class="invite-title">お友達をGrowCakeに招待しよう</h1>

  <div class="invite-empty">
    <%= image_tag "invite-icon.png", class: "invite-image" %>

    <p class="invite-text">
      一緒にケーキの成長を楽しめる仲間を<br>
      招待できる機能を準備中です 🍰
    </p>

    <p class="invite-note">
      ※ 今後アップデート予定
    </p>
  </div>
</div>