/* ================================
   管理画面専用スタイル
   ================================ */

.admin-page {

  /* ページ全体レイアウト */
  .admin-wrapper {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    overflow-x: auto;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #5B4A42;
  }

  /* テーブル */
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .users-table th,
  .users-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    text-align: center;
    color: #5B4A42;
  }

  .users-table th {
    background-color: #F4EDE2;
    font-weight: bold;
  }

  /* 削除ボタン */
  .btn-delete {
    background-color: #e07c82;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
  }

  .btn-delete:hover {
    background-color: #c5666b;
  }
}

/* ==========================
   管理者ユーザー詳細ページ
========================== */

.admin-user-show {
  width: 80%;
  max-width: 600px;
  background: #fffdf9;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  .status-active {
    color: #4caf50 !important;
    font-weight: bold !important;
  }

  .status-deleted {
    color: #e57373 !important;
    font-weight: bold !important;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5B4A42;
  }

  .user-info {
    text-align: left;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 1.6;

    span {
      font-weight: bold;
      color: #4A3B35;
    }

    p {
      margin-bottom: 10px;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 5px;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 20px;

   
  .btn-back {
  width: 120px;
  height: 45px;
  border-radius: 6px;
  font-size: 15px;
  text-align: center; 
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  }

      &:hover {
        background: #9e9e9e;
      }
    }
}


/* 管理画面：退会/BANボタン共通 */
.btn-delete,
.btn-ban,
.btn-unban{
  display: inline-block;
  width: 120px;
  padding: 0 18px ;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/* 色だけ別々に上書き */

.btn-delete {
  background: #F28A8A;

  &:hover {
   background: #d66f6f;
  }
}

.btn-ban,
.btn-unban {
  background: #8AF0BF;

  &:hover {
    background: #97FA9A;
  }
}

td a.btn-delete, 
td a.btn-ban, 
td a.btn-unban,
.btn-back {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height: 45px;
    line-height: normal; 
    padding: 0 18px; 
}

