.users-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.user-card {
  width: 260px;
  background-color: #f4dede;
  border-radius: 12px;
  margin: 12px 0;
  padding-bottom: 16px;

  .user-name-link {
    display: block;
    padding: 16px;
    text-align: center;

    color: #6b3f3f;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: #e9caca;
      border-radius: 12px;
    }
  }
}

.follow-button-area {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}