.invite-wrapper {
  text-align: center;
  margin-top: 48px;
}

.invite-image {
  width: 200px;
  opacity: 0.9;
  margin: 24px 0;
}

.invite-text {
  font-size: 15px;
  color: #6b5e57;
  line-height: 1.6;
}

.invite-note {
  font-size: 12px;
  color: #aaa;
  margin-top: 12px;
}