.btn, input[type="submit"], button {
  background-color: #E5B6C6;
  border: 2px solid #E5B6C6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600;
  transition: all .25s ease;
  display: inline-block;
}

.btn:hover, input[type="submit"]:hover, button:hover {
  transform: translateY(-3px);
  background-color: #D47A5B;
  border-color: #D47A5B;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.btn-outline {
  background: transparent;
  border: 2px solid #E5B6C6;
  color: #E5B6C6;
}

.btn-outline:hover {
  background-color: #E5B6C6;
  color: #fff;
}

.return-btn {
  display: inline-block;
  width: auto;
  padding: 6px 18px;
  text-align: center;
  margin-top: 10px;
  color: #a8683a !important;
  border: 1px solid #a8683a !important;
  border-radius: 6px;
  font-size: 14px;
}

.return-btn:hover {
  background-color: #a8683a;
  color: white !important;
  transition: 0.3s;
}