<% if user_signed_in? && !current_user.guest? && current_user != user %>
  <div class="follow-area">
    <% if current_user.following?(user) %>
      <% relationship = current_user.active_relationships.find_by(followed: user) %>
      <%= button_to relationship_path(relationship),
            method: :delete,
            remote: true,
            class: "follow-btn icon-btn" do %>
        <%= image_tag "follow_active.png", alt: "フォロー解除", class: "follow-icon" %>
        <span class="follow-text">フォローをやめる</span>
      <% end %>
    <% else %>
      <%= button_to relationships_path(followed_id: user.id),
            method: :post,
            remote: true,
            class: "follow-btn icon-btn" do %>
        <%= image_tag "follow_default.png", alt: "フォロー", class: "follow-icon" %>
        <span class="follow-text">フォローする</span>
      <% end %>
    <% end %>
  </div>
<% end %>