<% if user_signed_in? && current_user != post.user %>
        <div class="like-area">
          <% if current_user.liked?(post) %>
            <%= button_to "ã„ã„ã­è§£é™¤â¤ï¸ #{post.likes.count}",
                post_like_path(post),
                method: :delete,
                class: "btn like-btn liked" %>
          <% else %>
            <%= button_to "ã„ã„ã­ðŸ¤ #{post.likes.count}",
                post_like_path(post),
                method: :post,
                class: "btn like-btn" %>
          <% end %>
        </div>
      <% end %>