<div class="users-wrapper">
  <h2><%= @user.name %> がフォローしているユーザー</h2>

  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= render "users/user_card", user: user %>
    <% end %>
  <% else %>
    <div class="followers-empty">
      <%= image_tag "empty_follow.png", class: "empty-image", alt: "まだ誰もフォローしていません" %>
      <p class="empty-message">まだ誰もフォローしていません</p>
    </div>
  <% end %>
</div>