.header-logo img {
  height: 150px;
  width: auto;
}

.header-nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav .nav-link {
  color: #D26A54 !important;
  font-weight: 500;
}

.header-nav .nav-link:hover {
  color: #A7483A !important;
}

.header-nav .btn {
  background-color: transparent !important;
  border: none !important;
  color: #D26A54 !important;
  font-weight: 600;
  padding: 0 !important;
}

.header-nav .btn:hover {
  color: #A7483A !important;
}

.welcome-text {
  font-family: 'YuMincho', serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #b37b85;
  font-weight: 500;
  margin-right: 100px;
}

@media (max-width: 600px) {
  header{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .welcome-text {
    text-align: center;
    white-space: nowrap;
  }

  .header-logo img { height: 50px; }

  .header-nav {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  body { overflow-x: hidden; }
}

@media (max-width: 768px) {
  .search-area {
    width: 100%;
    justify-content: center !important;
    margin-bottom: 10px;
  }

  .search-input {
    width: 100%;
  }

  .site-header {
    flex-direction: column;
    text-align: center;
  }

  .header-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.search-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.search-button {
  background-color: #d9c7b4!important;  // ← ふんわりベージュ
  border: none!important;
  padding: 6px 10px!important;
  border-radius: 6px!important;
  cursor: pointer!important;

  &:hover {
    background-color: #cdb9a4!important;  // 少し濃いベージュでホバー
  }
}