<div class="container mt-5" style="max-width: 700px;">
  <p class="text-center mb-4" style="line-height: 1.8;">
    「続けること＝しんどい」じゃなくて、<br>
    「続けること＝ちょっと楽しい」にしたかった。<br><br>
    好きな気分で、好きなペースで、<br>
    でも気づいたら成長してる。<br><br>
    このアプリは、そんな気持ちから生まれました。<br>
    あなたのペースで育てていきましょう。<br>
    Grow Cakeと一緒に。
  </p>

  <div class="text-center">
    <img src="/assets/growcake_image.jpg" class="img-fluid rounded" style="max-width: 90%;"/>
  </div>
</div>
