@use '~bootstrap/scss/bootstrap';

@import "base/reset";
@import "base/variables";
@import "base/global";
@import "base/buttons";

@import "components/cards";
@import "components/forms";
@import "components/table";
@import "components/animations";


@import "layouts/header";
@import "layouts/footer";

@import "pages/home";
@import "pages/posts";
@import "pages/growth_records";
@import "pages/admin";
@import "pages/growth";
@import "pages/devise";


