.form-wrapper {
  width: 380px;
  margin: 30px auto;
  display: block;
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper .actions {
  text-align: center;
}

.form-wrapper input {
  width: 100% !important;
}

.field {
  margin-bottom: 18px;
}

.field small {
  margin-top: -5px;
  display: block;
  margin-bottom: 8px;
}

.password-field small {
  display: block;
  font-size: 13px;
  color: #666;
  margin-top: 4px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.actions {
  margin-top: 20px;
}

.search-box {
  text-align: left;
}