<div class="search-container">
  <h2>🔍 みんなの投稿を検索</h2>

  <p>カテゴリーを選んでください👇</p>

  <%= form_with url: search_posts_path, method: :get, local: true do %>
   

    <%= submit_tag "検索する", class: "button" %>
  <% end %>

  <hr>

  <% if @posts.present? %>
    <h3>検索結果👇</h3>
    <% @posts.each do |post| %>
      <div class="post-card">
        <%= image_tag post.image if post.image.attached? %>
        <p><%= post.content %></p>
      </div>
    <% end %>
  <% else %>
    <p>まだ検索されていません🍰</p>
  <% end %>
</div>