<footer class="site-footer">
  <div class="footer-divider">
    <%= image_tag "mypage/grass-divider2.png", alt: "" %>
  </div>

  <div class="footer-inner">
    <p class="footer-text">
      © GrowCake
    </p>
  </div>
</footer>